/* @import 'tailwindcss'; */


html {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(163, 149, 133);
    background-color: rgba(250, 248, 243, 0.8);
    font-family: "Source Serif Pro", serif;
}